<section class="inner-intro inner-intro-small bg-imglogin overlay-dark light-color parallax parallax-background2">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Edit your</h2>
            <h3>professional profile</h3>
        </div>
    </div>
</section>
<div class="clearfix"></div>


<section id="Pricing" class="ptb ptb-sm-80">
    <div class="container">
        <div class="col-xs-12 col-sm-6  col-sm-offset-3">
          <div class="login">
            <h2>Edit your profile</h2>

            <%= simple_form_for([current_user, @professional]) do |f| %>
              <%= f.error_notification %>

              <div class="form-field-wrapper">
                <%= f.input :professional_role, collection: Professional.professional_role.options %>
                <%= f.input :description %>
                <%= f.input :max_travel_range %>
                <%= f.input :phone_number %>
                <%= f.input :business_address, input_html: { id: "user_input_autocomplete_address"} %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Edit", class:"btn btn-md btn-color-line" %>
                <%= link_to "CANCEL", user_professional_path(current_user, @professional), style:"margin-left: 10px;" %>
              </div>
            <% end %>

          </div>
        </div>
    </div>
</section>
