<div class="banner">
  <%= render "shared/navbar" %>
  <div class="container">
    <div class="col-xs-12 col-sm-6  col-sm-offset-3">
      <div class="login">
        <h2>Register</h2>

        <%= simple_form_for([current_user, @professional]) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :professional_role, :as => :check_boxes %>
            <%= f.input :description, label: false, placeholder:'Good listener, 5 years of experience...etc' %>
            <%= f.input :max_travel_range, label: false, placeholder:'Maximum distance to an event (in km)' %>
            <%= f.input :phone_number, label: false, placeholder:'0123456789' %>
            <%= f.input :business_address, label: false, placeholder:'your business address' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Register" %>
          </div>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
</div>
