<div class="banner">
  <div class="show-user">
    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="profil">
            <%= image_tag current_user.picture, class:"profile-img"%>
            <div class="profile-text">
              <h1 class="profile-name"><%= current_user.name%></h1>
              <h6>Professional account</h6>
              <div>
                <ul>
                  <li class="profile-title" >
                      <i class="fa fa-chevron-circle-right"></i> <%= @professional.description%>
                  </li>
                  <li class="profile-title">
                    <i class="fa fa-envelope-o"></i>  <%= current_user.email%>
                  </li>
                  <li class="profile-title">
                    <i class="fa fa-phone"></i>  <%= @professional.phone_number%>
                  </li>
                  <li class="profile-title">
                    <i class="fa fa-map-marker"></i>  <%= @professional.business_address %>
                  </li>
                </ul>
              </div>
              <%= link_to "Edit my professional profile", edit_user_professional_path(current_user, @professional), id:"edit"%>
              <hr>
              <div class="login_btn">
                <%= link_to "go to User profile", user_path(current_user), id:"log" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="user-content">
          <h3>Events</h3>
            <% if @professional.events.empty? %>
              <h5>You don't have any events yet</h5>
            <% else %>
              <% @professional.events.each do |event| %>
                <div>
                  <ul>
                    <li><%= User.find(event.user_id).name %></li>
                    <li><%= event.start_time.to_formatted_s(:long_ordinal) %></li>
                    <li><%= event.address %></li>
                  </ul>
                  <% if event.professional_review_id.nil? %>
                    <div class="reviews-form">
                      <%= render 'reviews/form', event: event %>
                    </div>
                  <% else %>
                    <%= Review.find(event.professional_review_id).rating %>
                    <%= Review.find(event.professional_review_id).content %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <h3>Reviews</h3>
          <% if @professional.reviews.empty? %>
            <h5>You don't have any reviews yet</h5>
          <% else %>
            <% @professional.reviews.each do |review| %>
              <ul>
                <li><%= review.rating %></li>
                <li><%= review.content %></li>
              </ul>
            <% end %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @professional_coordinates.to_json %>;
        alert('Pro coordinates are ' + coord.lat + ', ' + coord.lng);
      });
    <% end %>
  <% end %>
</div>


