<section class="inner-intro bg-imgprofile overlay-dark light-color parallax parallax-background2">
    <div class="container">
        <div class="row title">
            <h2 class="h2"><%= current_user.name %></h2>
            <h3>Professional account</h3>
        </div>
    </div>
</section>
<div class="clearfix"></div>
        <!-- End Intro Section -->
          <!-- About Section -->
<section class="ptb ptb-sm-80">

</section>

  <!-- Team -->






<section class="pb pb-sm-80">
  <div class="container">
          <!--Team Carousel -->
    <div class="row">

      <div class="col-md-4">
        <div class="item">
          <div class="team-item nf-col-padding">
            <div class="team-item-img">
              <%= image_tag current_user.picture, alt:"professional picture" %>
              <div class="team-item-detail">
                <div class="team-item-detail-inner light-color">
                  <h5><%= current_user.name %></h5>
                  <ul class="list-unstyled">
                    <li class="profile-title"><i class="fa fa-envelope-o"></i>  <%= current_user.email%></li>
                    <li class="profile-title"><i class="fa fa-chevron-circle-right"></i> <%= @professional.description%></li>
                    <%  if @professional.phone_number %>
                    <li class="profile-title"><i class="fa fa-phone"></i>  <%= @professional.phone_number%></li>
                    <% end %>
                    <% if @professional.business_address %>
                    <li class="profile-title"><i class="fa fa-map-marker"></i>  <%= @professional.business_address%></li>
                    <% end %>
                    <% if @professional.rating %>
                        <% if @professional.rating == 0 %>
                          <li><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating < 1 && @professional.rating > 0 %>
                          <li><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating == 1 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating < 2 && @professional.rating > 1 %>
                          <li><i class="fa fa-star"><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></i></li>
                        <% end %>
                        <% if @professional.rating == 2 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></i></li>
                        <% end %>
                        <% if @professional.rating < 3 && @professional.rating > 2 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating == 3 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating < 4 && @professional.rating > 3 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating == 4 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></li>
                        <% end %>
                        <% if @professional.rating < 5 && @professional.rating > 4 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                        <% end %>
                        <% if @professional.rating == 5 %>
                          <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <% end %>
                    <% end %>
                  </ul>
                  <ul class="social">
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container text-center">
          <div class="row text-center">
            <div class="col-md-4 col-md-offset-2">
              <div class="page-icon-top"><i class="fa fa-calendar-check-o"></i></div>
              <%= link_to "Your events", user_professional_events_path(current_user, current_user.professional), class:"btn btn-xd btn-color-line"%>
            </div>
          </div>
          <br>
          <br>
          <div class="row text-center">
            <div class="col-md-4">
              <div class="page-icon-top"><i class="fa fa-user"></i></div>
              <%= link_to "Edit your profile", edit_user_professional_path(current_user, current_user.professional), class:"btn btn-xd btn-color-line"%>
            </div>
            <div class="col-md-4">
              <div class="page-icon-top"><i class="fa fa-child"></i></div>
                <%= link_to "Back to user profile", user_path(current_user), class:"btn btn-xd btn-color-line"%>
            </div>
          </div>
        </div>
      </div>


                <!--End Team Carousel -->
    </div>
  </div>
</section>
<!-- End Team -->




<!-- Testimonials -->
<section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('http://7x24fl-al.org/Resources/Pictures/cocktail_drinks_1920x1080_89001.jpg');  background-position: 0% 900.5px;" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <% if current_user.professional.reviews.empty? %>
                    <p> No reviews...</p>
                    <% else %>
                    <p>"<%= current_user.professional.reviews.last.content %>"</p>
                    <h6 class="quote-author"><%=  current_user.professional.reviews.last.reviewer.name %></h6>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Testimonials -->
