<div class="banner banner-home" style="">
  <%= render 'shared/navbar'%>
  <div class="content-banner">
    <h1 class="text-center">Find a barman for your reception</h1>
    <div class="recipe-arrow">
      <h3>Browse our cocktails</h3>
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
</div>

<div class="row cocktails">
  <div class="container">
    <p style="font-family:'Alex Brush',cursive;font-size: 30px; text-align: center">Our Selection</p>
    <div class="wrapper-grey wrapper">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4" id="card">
          <div id="f1_container">
            <div id="f1_card" class="shadow">
              <div class="front face" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(cocktail.image) %>) no-repeat center center; background-size: cover">
                <div class="card-category">
                  <h2><%= cocktail.name %></h2>
                </div>
              </div>
              <div class="back face center" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(cocktail.image) %>) no-repeat center center; background-size: cover">
                <div class="card-description">
                  <%= link_to cocktail_path(cocktail) do %>
                    <h3><em>Recipe</em>
                  <% end %>
                  </h3>
                  <% cocktail.doses.each do |dose| %>
                    <ul>
                      <li><%= dose.ingredient.name %>: <%= dose.quantity %></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
