<%= render 'shared/header' %>

<div id="video" style="height: 100vh; width: 100%; position: relative;">
  <div class="full-cap-wraper">
    <div class="content-caption light-color">
      <div class="container">
        <h1>Find a barman</h1>
        <h2 class="h2">For your event</h2>
        <br>
        <div><a class="btn btn-md btn-white-line xs-hidden">Read More</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Intro Video Section -->

<div class="clearfix"></div>


<section id="service" class="ptb ptb-sm-80">
  <div class="wow fadeInLeft container text-center">
      <h3>Our Services</h3>
      <div class="spacer-60"></div>
      <div class="row">
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="fa fa-calendar-check-o"></i></div>
              <h5>Web Design</h5>
              <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
              <h5>Development</h5>
              <p>Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
              <h5>Branding</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
              <h5>Photography</h5>
              <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
              <h5>Typography</h5>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
              <h5>Ui Design</h5>
              <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
          </div>
      </div>
  </div>
</section>




<!-- old html -->
<div class="row cocktails">
  <div class="container">
    <p style="font-family:'Alex Brush',cursive;font-size: 30px; text-align: center">Our Selection</p>
    <div class="wrapper-grey wrapper">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4" id="card">
          <div id="f1_container">
            <div id="f1_card" class="shadow">
              <div class="front face cocktail-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(cocktail.image) %>) no-repeat center center; background-size: cover">
                <div class="card-category">
                  <h2><%= cocktail.name %></h2>
                </div>
              </div>
              <div class="back face center" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(cocktail.image) %>) no-repeat center center; background-size: cover">
                <div class="card-description">
                  <%= link_to cocktail_path(cocktail) do %>
                    <h3><em>Recipe</em>
                  <% end %>
                  </h3>
                  <% cocktail.doses.each do |dose| %>
                    <ul>
                      <li><%= dose.ingredient.name %>: <%= dose.quantity %></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
