<div class="banner show-banner" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(<%= image_path(@cocktail.image) %>) no-repeat center center; background-size: cover">
  <%= render 'shared/navbar'%>
  <div class="content-show_cocktail">
    <h1><em><%= @cocktail.name %></em></h1>
    <div class="home_form marged-top">
      <p class="marged-bottom"><%= @cocktail.recipe_steps %></p>
      <% @cocktail.doses.each do |dose| %>
        <ul>
          <li><p><i class="fa fa-circle-o"> <%= dose.ingredient.name %>: <%= dose.quantity %></i><p></li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="square-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(@cocktail.image) %>)no-repeat center center; background-size: cover">
    <div style="text-align:center;" >
    <% if user_signed_in? %>
      <%= link_to "Find a Barman", new_user_event_path(current_user), class: "btn navbar-wagon-item navbar-wagon-button find" %>
    <% else %>
      <%= link_to "Login to book a barman", new_user_session_path, class: "btn navbar-wagon-item navbar-wagon-button find text-center" %>
    <% end %>
    </div>
  </div>
</div>

