
<div class="show-user">
  <%= render 'shared/navbar' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="profil">
          <%= image_tag current_user.picture, class:"profile-img"%>
          <div class="profile-text">
            <h1 class="profile-name"><%= @user.name%></h1>
            <div>
              <ul>
                <li class="profile-title"><i class="fa fa-envelope-o"></i> <%= @user.email%></li>
                <li class="profile-title"><i class="fa fa-phone"></i><%= @user.phone_number%></li>
                <li class="profile-title"><i class="fa fa-map-marker"></i><%= @user.address%></li>
              </ul>
            </div>
            <%= link_to "Edit profile", edit_user_path(current_user), id:"edit"%>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="user-content">
          <ul class="tabs">
            <li>
              <input type="radio" name="tabs" id="tab1" checked />
              <label for="tab1">Last Events</label>
              <div id="tab-content1" class="tab-content">
                <p>No events.</p>
              </div>
            </li>

            <li>
              <input type="radio" name="tabs" id="tab2" />
              <label for="tab2">Create an event</label>
              <div id="tab-content2" class="tab-content">
                <div class="login">
                  <form>
                    <input id="user_input_autocomplete_address" placeholder="Votre adresse...">

                  </form>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
