<section class="inner-intro bg-img2 overlay-light parallax parallax-background2">
    <div class="container">
        <div class="row title">
            <h2 class="h2"><%= current_user.name %></h2>
            <div class="page-breadcrumb">
                <a>Home</a>/<span>Profile</span>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
        <!-- End Intro Section -->
          <!-- About Section -->
<section class="ptb ptb-sm-80">

</section>

  <!-- Team -->






<section class="pb pb-sm-80">
  <div class="container">
          <!--Team Carousel -->
    <div class="row">

      <div class="col-md-4">
        <div class="item">
          <div class="team-item nf-col-padding">
            <div class="team-item-img">
              <%= image_tag "leo.jpg" %>
              <div class="team-item-detail">
                <div class="team-item-detail-inner light-color">
                  <h5><%= current_user.name %></h5>
                  <ul class="list-unstyled">
                    <li class="profile-title"><i class="fa fa-envelope-o"></i>  <%= @user.email%></li>
                    <%  if @user.phone_number %>
                    <li class="profile-title"><i class="fa fa-phone"></i>  <%= @user.phone_number%></li>
                    <% end %>
                    <% if @user.address %>
                    <li class="profile-title"><i class="fa fa-map-marker"></i>  <%= @user.address%></li>
                    <% end %>
                  </ul>
                  <ul class="social">
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container text-center">
          <div class="row text-center">
            <div class="col-md-4">
              <div class="page-icon-top"><i class="fa fa-calendar-plus-o"></i></div>

               <%= link_to "Create an event", new_user_event_path(current_user), class:"btn btn-xd btn-color-line"%>
            </div>
            <div class="col-md-4">
              <div class="page-icon-top"><i class="fa fa-calendar-check-o"></i></div>
              <%= link_to "Your events", user_events_path(current_user), class:"btn btn-xd btn-color-line"%>
            </div>
          </div>
          <br>
          <br>
          <div class="row text-center">
            <div class="col-md-4">
              <div class="page-icon-top"><i class="fa fa-user"></i></div>
              <%= link_to "Edit your profile", edit_user_path(current_user), class:"btn btn-xd btn-color-line"%>
            </div>
            <div class="col-md-4">
              <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                <%= link_to "Register as professional", edit_user_path(current_user), class:"btn btn-xd btn-color-line"%>
            </div>
          </div>
        </div>
      </div>


                <!--End Team Carousel -->
    </div>
  </div>
</section>
<!-- End Team -->




<!-- Testimonials -->
<section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/25.jpg');" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <% if current_user.reviews.empty? %>
                    <p> No reviews...</p>
                    <% else %>
                    <p>"<%= current_user.reviews.last.content %>"</p>
                    <h6 class="quote-author">Jeff <span style="font-weight: 400;">( Appel Studio )</span></h6>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Testimonials -->


<!-- profil utilisateur -->

          <div class="col-xs-12 col-sm-3">
            <div class="profile-content">

              <div class="profile-text">
                <h2 class="text-center"><%= @user.name%></h2>
                <h6 class="text-center">User account</h6>
                <hr>
                <div>
                  <ul class="list-unstyled">
                    <li class="profile-title"><i class="fa fa-envelope-o"></i>  <%= @user.email%></li>
                    <li class="profile-title"><i class="fa fa-phone"></i>  <%= @user.phone_number%></li>
                    <li class="profile-title"><i class="fa fa-map-marker"></i>  <%= @user.address%></li>
                  </ul>
                </div>

                <small><%= link_to "Edit profile", edit_user_path(current_user), id:"edit"%></small>
                <hr>
                <div class="reviews">
                  <h4>Reviews</h4>
                  <% if current_user.reviews.empty? %>
                    <small><p>You don't have any reviews yet</p></small>
                  <% else %>
                    <% current_user.reviews.each do |review| %>
                      <ul class="list-unstyled">
                        <li>
                          <p style="color:red;"><%= review.rating %><strong>/5</strong></p><p> <%= review.content.capitalize %></p>
                          <p><footer><small> by <%= review.reviewer.user.name %> <%= review.created_at%></small></footer></p>
                          <hr>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
                <div class="login_btn">
                  <% if @user.professional %>
                    <%= link_to " go to PRO", user_professional_path(@user, @user.professional), class:"login_btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>


<!-- contenu du profil utilisateur  -->

          <div class="col-xs-12 col-sm-6">
            <div class="user-content">

            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="notifications">
              <div class="create-event profile-content user-content">
                <div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <p class="lead"> Organiser une soirée cocktail, une dégustation vin ou un dîner dans les règles de l'art.</p>
                  </div>
                  <div class="col-xs-12 col-sm-3">

                  </div>
                </div>
              </div>
              <div class="events profile-content user-content">
                <div class="col-xs-12">
                  <h3>Events</h3>
                  <hr>
                  <% if current_user.events.empty? %>
                    <h5>You don't have any events yet</h5>
                    <hr>
                    <%= link_to 'Create an event', new_user_event_path(current_user) %>
                  <% else %>
                    <% current_user.events.each do |event| %>
                      <div>
                      <blockquote>
                        <ul class="list-unstyled">
                          <li><%= Professional.find(event.professional_id).user.name.capitalize %>, <%= Professional.find(event.professional_id).professional_role %></li>

                          <li><%= event.start_time.to_formatted_s(:long_ordinal) %></li>
                          <li><%= event.address %></li>
                        </ul>
                      </blockquote>
                      </div>
                      <% if event.user_review_id.nil? %>
                        <div class="reviews-form">
                          <%= render 'reviews/form', event: event %>
                        </div>
                      <% else %>
                        <small>
                          Review:
                          <%= Review.find(event.user_review_id).rating %>/5
                          <%= Review.find(event.user_review_id).content %>
                          by <%= Review.find(event.user_review_id).reviewer.name.capitalize %>
                        </small>
                      <% end %>
                      <hr>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
