<div class="banner">
  <%= render 'shared/navbar' %>
  <div class="show-user">
    <div class="profile">
      <div class="container">
        <div class="row">


<!-- profil utilisateur -->

          <div class="col-xs-12 col-sm-3">
            <div class="profile-content">
              <%= image_tag current_user.picture, class:"avatar"%>
              <div class="profile-text">
                <h2 class="text-center"><%= @user.name%></h2>
                <h6 class="text-center">User account</h6>
                <hr>
                <div>
                  <ul class="list-unstyled">
                    <li class="profile-title"><i class="fa fa-envelope-o"></i>  <%= @user.email%></li>
                    <li class="profile-title"><i class="fa fa-phone"></i>  <%= @user.phone_number%></li>
                    <li class="profile-title"><i class="fa fa-map-marker"></i>  <%= @user.address%></li>
                  </ul>
                </div>

                <small><%= link_to "Edit profile", edit_user_path(current_user), id:"edit"%></small>
                <hr>
                <div class="reviews">
                  <h4>Reviews</h4>
                  <% if current_user.reviews.empty? %>
                    <small><p>You don't have any reviews yet</p></small>
                  <% else %>
                    <% current_user.reviews.each do |review| %>
                      <ul class="list-unstyled">
                        <li>
                          <p style="color:red;"><%= review.rating %><strong>/5</strong></p><p> <%= review.content.capitalize %></p>
                          <p><footer><small> by <%= review.reviewer.user.name %> <%= review.created_at%></small></footer></p>
                          <hr>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
                <div class="login_btn">
                  <% if @user.professional %>
                    <%= link_to " go to PRO", user_professional_path(@user, @user.professional), class:"login_btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>


<!-- contenu du profil utilisateur  -->

          <div class="col-xs-12 col-sm-6">
            <div class="user-content">

            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="notifications">
              <div class="create-event profile-content user-content">
                <div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <p class="lead"> Organiser une soirée cocktail, une dégustation vin ou un dîner dans les règles de l'art.</p>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <%= link_to "Créer un évènement", new_user_event_path(current_user), class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
              <div class="events profile-content user-content">
                <div class="col-xs-12">
                  <h3>Events</h3>
                  <hr>
                  <% if current_user.events.empty? %>
                    <h5>You don't have any events yet</h5>
                    <hr>
                    <%= link_to 'Create an event', new_user_event_path(current_user) %>
                  <% else %>
                    <% current_user.events.each do |event| %>
                      <div>
                      <blockquote>
                        <ul class="list-unstyled">
                          <li><%= Professional.find(event.professional_id).user.name.capitalize %>, <%= Professional.find(event.professional_id).professional_role %></li>

                          <li><%= event.start_time.to_formatted_s(:long_ordinal) %></li>
                          <li><%= event.address %></li>
                        </ul>
                      </blockquote>
                      </div>
                      <% if event.user_review_id.nil? %>
                        <div class="reviews-form">
                          <%= render 'reviews/form', event: event %>
                        </div>
                      <% else %>
                        <small>
                          Review:
                          <%= Review.find(event.user_review_id).rating %>/5
                          <%= Review.find(event.user_review_id).content %>
                          by <%= Review.find(event.user_review_id).reviewer.name.capitalize %>
                        </small>
                      <% end %>
                      <hr>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
