<div class="banner" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("banner.jpeg") %>)no-repeat center center; background-size: cover">
  <%= render "shared/navbar" %>
  <div class="container">
    <div class="col-xs-12 col-sm-4  col-sm-offset-2">
      <div class="login event-create">
      <h2>Create an event</h2>
        <div class="row">
          <form action="<%= user_events_path(current_user) %>" method="POST">
            <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" name="start_time" placeholder="Start time" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" name="end_time" placeholder="End time" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
            <div class="form-inputs">
              <div>
                <input type='text' class="form-control" id="user_input_autocomplete_address" class="event-address" name="address" placeholder="Event address" />
              </div>
            </div>
            <div class="form-group barman">
              <div class='input-group'>
                <input class="form-control" name="professional_id" placeholder="Pick a barman" />
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="Create" class="btn btn-primary">
              <%= link_to "cancel", user_path(current_user) %>
            </div>
          </form>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
          </script>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker2').datetimepicker();
              });
          </script>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4  col-sm-offset-2">
      <%= render 'professionals/index' %>
    </div>
  </div>
</div>
