<div class="add-dose text-center">
<h2>Please add an ingredient for <%= @cocktail.name %></h2>
  <div class="container cocktail-form">
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
